body {
  background-color: lightseagreen;
  font-family: 'Times New Roman', Times, serif;
  padding: 50px;
}

h1 {
  color: rgb(187, 99, 5);
}

p {
  font-size: 25px;
  color: #555;
}

button {
  background-color: rgba(112, 165, 42, 0.687);
  color: rgba(255, 255, 255, 0.927);
  padding: 10px 20px;
  border: none;
}
