body {
  background-color: lightgreen;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 50px;
}

h1 {
  color: black;
}

p {
  font-size: 25px;
  color: #555;
}

button {
  background-color: brown;
  color: white;
  padding: 10px 20px;
  border: none;
}

